.motivations {
    color: $text;
    &__item {
        background: $grey--light;
        border-radius: 4px 4px 0 0;
        border-bottom: 4px solid $grey;
        margin-bottom: 1em;
        padding: 2rem;
    }

    &__title {
        font-size: 2rem;
        margin-bottom: .5rem;
        color: $text;
        font-weight: 400;
    }

    &__meta {

    }
}
