<!DOCTYPE html>
<html>
    <head>
        <title>Motivation App</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <h1>Get motivated</h1>
                </div>
            </header>
            <main class="container">
                <ul class="motivations">
                    <li class="motivations__item">
                        <h2 class="motivations__title">Get up and walk a bit</h2>
                        <div class="motivations__meta">
                            <strong>Motivation reoccurrence: </strong>
                        </div>
                    </li>
                </ul>
            </main>
        </div>
    </body>
</html>
