<!DOCTYPE html>
<html>
    <head>
        <title>Motivation App</title>
    </head>
    <body>
        <div class="wrapper">
            <main class="container">
                <ul class="motivations">
                    <li class="motivations__item">
                        <h2 class="motivation__title">Get up and walk a bit</h2>
                        <div class="motivation__meta">
                            <strong>Motivation reoccurrence: </strong>
                        </div>
                    </li>
                </ul>
            </main>
        </div>
    </body>
</html>
